body {
 font-family: "Helvetica Neue";
 font-size: 30px;
 margin: 0; 
 height: 100vh; 
 overflow: hidden; 
}

.container {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(2, 1fr);
 width: 100vw; 
 height: 100vh; 
 margin: 0 auto;
 position: relative;
}

.box {
 display: flex;
 align-items: center;
 justify-content: center;
 color: aliceblue;
 flex-direction: column;
}

#Vegeta {
 position: absolute;
 top: 49%;
 left: 53%;
 width: 20vw;
 height: 30vh;
 transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 -moz-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 -o-transform: translate(-50%, -50%);
}

.purple {
 background-color: purple;
}

.orange {
 background-color: orange;
}

.green {
 background-color: yellowgreen;
}

.pink {
 background-color: palevioletred;}

 button{
  width: 5vw;
  height: 10vh;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: rgb(51, 42, 0);
  
}
progress {
  width: 30vw;
  height: 5vh;
  margin: 10px auto;
  border-radius: 50px ;
  -webkit-border-radius: 50px ;
  -moz-border-radius: 50px ;
  -ms-border-radius: 50px ;
  -o-border-radius: 50px ;
}

progress::-webkit-progress-bar {
  background-color: red 
}

progress::-webkit-progress-value {
  background-color: green;

}
